<div class="profile">
  <form [formGroup]="form" (ngSubmit)="saveProfile()">
    <img src="/assets/profile.png" alt="default user" />
    <h3>User Info:</h3>
    <div class="flex">
      <p>Username:</p>
      <p class="input">
        <ng-container>
          <input *ngIf="showEditMode" type="text" formControlName="username" />
          <ng-container *ngIf="form.get('username')?.touched || formSubmitted">
            <p class="error" *ngIf="form.get('username')?.errors?.['required']">
              Username is required
            </p>
            <p
              class="error"
              *ngIf="form.get('username')?.errors?.['minlength']"
            >
              Username is not valid. Required length is
              {{form.get('username')?.errors?.['minlength']?.['requiredLength'] }}
              characters
            </p>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!showEditMode">
          {{ user.username }}
        </ng-container>
      </p>
    </div>
    <div class="flex">
      <p>Email:</p>
      <p>
        <ng-container *ngIf="showEditMode">
          <input type="text" formControlName="email" />
          <ng-container *ngIf="form.get('email')?.touched || formSubmitted">
            <p class="error" *ngIf="form.get('email')?.errors?.['required']">
              Email is required
            </p>
            <p
              class="error"
              *ngIf="form.get('email')?.errors?.['appEmailValidator']"
            >
              Email is not valid
            </p>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!showEditMode">
          {{ user.email }}
        </ng-container>
      </p>
    </div>
    <div class="flex">
      <p>Phone:</p>
      <p>
        <ng-container *ngIf="showEditMode" class="phone">
          <select formControlName="code" ngModel="00359">
            <option value="00359">+359</option>
            <option value="0045">+45</option>
          </select>
          <input
            type="text"
            formControlName="tel"
            placeholder="888 888 888"
            class="phone-input"
          />
        </ng-container>
        <ng-container *ngIf="!showEditMode">
          {{ user.code }} {{ user.tel }}
        </ng-container>
      </p>
    </div>

    <!-- -------------- Add form Array and dinamic adding of fields -------------- -->
    <!-- <div
      *ngFor="let address of addressesArray.controls; let i = index"
      formArrayName="addresses"
    >
      <ng-container [formGroupName]="i"> 
        <input type="text" formControlName="postCode">
        <input type="text" formControlName="street">
      </ng-container>

      <button (click)="addNewAddress()">+</button>
    </div> -->

    <ng-template #edit>
      <button class="edit-button" type="submit">Save</button>
    </ng-template>
    <ng-template #nonEdit>
      <button class="edit-button" type="button" (click)="toggleEditMode()">
        Edit
      </button>
    </ng-template>
    <ng-container
      *ngTemplateOutlet="showEditMode ? edit : nonEdit"
    ></ng-container>
  </form>
</div>
