<div class="profile">
    <form >
        <img src="/assets/profile.png" alt="default user">
        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>{{user.username}}</p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>{{user.email}}</p>
        </div>
        <div class="flex">
            <p>Phone: </p>
            <p>{{user.code}} {{user.tel}}</p>
        </div>
        <button class="edit-button" (click)="toggleEditMode()" >
            <ng-container *ngIf="showEditMode">Save</ng-container>
            <ng-container *ngIf="!showEditMode">Edit</ng-container>
        </button>
    </form>
  
</div>
