.login-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form-group {
  display: flex;
  gap: 10px;
}

input.ng-valid {
  border-left: 5px solid #42a948;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid #a94442;
}
