<div class="container">
  <form #registerForm="ngForm" (ngSubmit)="handleFormSubmit(registerForm.value)">
    <fieldset>
      <h1>Registration Form</h1>

      <p class="field field-icon">
        <label for="username">
          <span><i class="fas fa-user"></i></span>
        </label>
        <input
          type="text"
          name="username"
          id="username"
          class="error"
          placeholder="Mark Ulrich"
          autocomplete="username"
          ngModel
        />
      </p>

      <!-- if error -->
      <p class="error">Message for Error</p>
      <!-- end if error -->

      <p class="field field-icon">
        <label for="email">
          <span><i class="fas fa-envelope"></i></span>
        </label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="marк@gmial.com"
          autocomplete="email"
          ngModel
        />
      </p>

      <p class="field field-icon">
        <label for="tel">
          <span><i class="fas fa-phone"></i></span>
        </label>
        <select name="countryCode" id="countryCode" class="tel">
          <option value="1" >+359</option>
        </select>
        <input type="text" name="tel" id="tel" placeholder="888 888" autocomplete="mobile" ngModel/>
      </p>

      <p class="field field-icon">
        <label for="occupation">
          <span><i class="fas fa-building"></i></span>
        </label>
        <select name="occupation" id="occupation" class="building">
          <option value="1">Designer</option>
        </select>
      </p>

      <p class="field field-icon">
        <label for="password">
          <span><i class="fas fa-lock"></i></span>
        </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="******"
          autocomplete="new-password"
          ngModel
        />
      </p>

      <p class="field field-icon">
        <label for="re-password">
          <span><i class="fas fa-lock"></i></span>
        </label>
        <input
          type="re-password"
          name="re-password"
          id="re-password"
          placeholder="******"
          autocomplete="new-password"
          ngModel
        />
      </p>

      <p>
        <button>Create Account</button>
      </p>

      <p class="text-center">
        Have an account?
        <a routerLink="/login">Log In</a>
      </p>
    </fieldset>
  </form>
</div>
{{registerForm.value | json}}
