<div class="theme-content">
  <!-- theme-title  -->
  <div class="theme-title">
    <div class="theme-name-wrapper">
      <div class="theme-name">
        <h2>{{ currentTheme.themeName }}</h2>
        <p>
          Date: <time>{{ currentTheme.created_at | shortenDate }}</time>
        </p>
      </div>
      <div class="subscribers">
        <p>
          Subscribers: <span>{{ currentTheme.subscribers.length }}</span>
        </p>
        <!-- <button class="subscribe">Subscribe</button>
                <button class="unsubscribe">Unsubscribe</button> -->
      </div>
    </div>
  </div>
  <!-- comment  -->
  <ng-container *ngFor="let comment of comments">
    <app-theme-comment [commentObj]="comment"></app-theme-comment>
  </ng-container>

  <div class="answer-comment">
    <p>
      <span>{{ user?.username }}</span> comment:
    </p>
    <div class="answer">
      <form>
        <textarea name="postText" id="comment" cols="30" rows="10"></textarea>
        <button>Post</button>
      </form>
    </div>
  </div>
</div>
